@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-light" >
    <h1 class="display-4">Leave Management Application</h1>
    </div>
    <div class="jumbotron">
        <h5>Personal Details</h5>
        <ul>
            <li>
                <p></p>
            </li>
           
        </ul>
    </div>


